body,
html {
  width: 100%;
  height: 100%; 
}

body {
  font-family: 'Montserrat', sans-serif;
}

hr {
  max-width: 65px;
  border-width: 3px;
  border-color: #F05F44; 
}
.arrow {
  font-size: 50px;
  margin-bottom: 30px;
  animation: anim 3s infinite;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style-type: none;
  display: inline;
}

#nav {
  color: #000;
  z-index: 100;
  justify-content: flex-end;
  flex: end;
}

.faded {
  color: rgba(255, 255, 255, 0.8); 
}
.logo {
    width: 60px;
    display: inline-block;
    margin: 0px;
}
#header nav > ul > li a:not(.button) {
  color: #fff;
}

.btn-primary.btn-xl {
  color: #d4af37;
}

.startup {
background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5));
  background-position: center;
  background-image: url("../img/posh22.jpg");
  background-size: cover;
  height: 100%;
  opacity: .8;
  z-index: 90;
}


.arrow {
  font-size: 50px;
  margin-bottom: 30px;
  animation: anim 3s infinite;
  z-index: 100;
  color: #ff1493;

}

.tain {
padding-top: 550px;
}

.row {
  margin-top: 50%;
}

.startup hr {
  margin-top: 200px;
  margin-bottom: 30px; 
}
.startup h1 {
  font-size: 2rem; 
  color: #d4af37;
}
header {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 100px 0;
	animation: 1s fadein 0.5s forwards;
	opacity: 0;
	color: #000;
	z-index: 100;
  justify-content: flex-end;
}

footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #301934;
	color: #fff;
	padding: 20px 0;
}

footer ul {
	display: flex;
}

footer ul li {
	margin-left: 16px;
}

footer p {
	text-transform: uppercase;
	font-size: 14px;
	opacity: 0.6;
	align-self: center;
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

header h2 {
	font-family: "Quicksand", sans-serif;
}

header nav {
	display: flex;
	margin-right: 15px;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-primary {
  background-color: #3b0d56;
  border-color: #3b0d56; }

.btn-primary:hover {
  background-color: #3b0d56;
  border-color: #3b0d56;
  border-width: 5px;
  cursor: pointer;
}

@keyframes anim {
  0% {transform: translateY(0)}
  20% {transform: translateY(0)}
  40% {transform: translateY(-30px)}
  50% {transform: translateY(0)}
  60% {transform: translateY(-15px)}
  80% {transform: translateY(0)}
  100% {transform: translateY(0)}
}

  